.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1.6rem;
  cursor: pointer;

}

.card-container:hover {
  transform: scale(1.05);
}

.img-style {
  height: 200px;
  width: 200px;
}
